{:deps
 {marginalia/marginalia {:mvn/version "0.9.2"}}

 :aliases
 {
  ;; clojure -M:hawk
  :hawk
  {:main-opts ["-m" "marginalia.main" "-n" "Hawk" "-d" "../dev-docs-pages/hawk" "-D"
               "It watches your code like a hawk! You like tests, right? Then run them with our state-of-the-art Clojure test runner. "
               "src"]}

  ;; clojure -M:macaw
  :macaw
  {:main-opts ["-m" "marginalia.main" "-n" "Macaw" "-d" "../dev-docs-pages/macaw" "-D"
               "A Clojure wrapper for JSqlParser 🦜"
               "../macaw/src" "../macaw/test"]}

  ;; clojure -M:metabase
  :metabase
  ;; NB: multi-page
  {:main-opts ["-m" "marginalia.main" "-m" "-n" "Metabase" "-d" "../dev-docs-pages/metabase" "-D"
               "The simplest, fastest way to get business intelligence and analytics to everyone in your company 😋"
               "dev" "src" "enterprise/backend/src"]}

  ;; clojure -M:methodical
  :methodical
  {:main-opts ["-m" "marginalia.main" "-n" "Methodical" "-d" "../dev-docs-pages/methodical" "-D"
               "Functional and flexible multimethods for Clojure. Nondestructive multimethod construction, CLOS-style aux methods and method combinations, partial-default dispatch, easy next-method invocation, helpful debugging tools, and more."
               "dev" "src"]}

  ;; clojure -M:second-date
  :second-date
  {:main-opts ["-m" "marginalia.main" "-n" "Second Date" "-d" "../dev-docs-pages/second-date" "-D"
               "Helpful java.time utility functions for Clojure"
               "src"]}

  ;; clojure -M:toucan2
  :toucan2
  {:main-opts ["-m" "marginalia.main" "-n" "T2: Toucan 2" "-d" "../dev-docs-pages/toucan2" "-D"
               "A classy high-level Clojure library for defining application models and retrieving them from a DB"
               "src"]}}}
